{% extends 'base.html.twig' %}
{% block title %}Modifier profil{% endblock %}

{% block body %}
    {{ include('inc/navbar.html.twig') }}
    <div class="container">
        {% if app.user.id == user.id %}
        <h1>Modifier profil </h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-nav" type="submit">Valider</button>
        {{ form_end(form) }}
        {% else %}
            <div class="tenor-gif-embed" data-postid="10899016" data-share-method="host" data-width="100%" data-aspect-ratio="1.7777777777777777"><a href="https://tenor.com/view/non-mario-gif-10899016">Non Mario GIF</a> from <a href="https://tenor.com/search/non-gifs">Non GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        {% endif %}
    </div>
{% endblock %}