{% extends 'base.html.twig' %}


{% block title %}Admin{% endblock %}

{% block body %}

    {{ include('inc/navbar.html.twig') }}
        <div class="container">
            {{ form(form) }}
        </div>

{% endblock %}


