/** Home **/
body{
    background-color:#fffcf6!important;
    color:#4f4f4f;
}
.container{
    padding-top: 25px;
    padding-bottom: 10px;
}
.filter-box{
    position: fixed;
    height: 500px;
    width: 300px;
    margin-top: 5.2%;
    font-family: 'Century Gothic',sans-serif;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-left: 50px;
}
.box-welcome{
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color:#fff;
}
#article_search{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color:#fff;
    padding:10px;
    width: 250px;
}
.kesako{
    font-style: italic;
}
#footer{
    background: linear-gradient(135deg, #b2d2ff, #f4fefe);
    --webkit-box-shadow: 0px -2px 5px 2px rgba(204,198,204,1);
    -moz-box-shadow: 0px -2px 5px 2px rgba(204,198,204,1);
    box-shadow: 0px -2px 5px 2px rgba(204,198,204,1);
    margin-top:20px;
}
#article_search_minimumPrice{
    margin-left:50px;
}
#article_search_maximumPrice{
    margin-left: 45px;
}
#article_search_lenght{
    margin-left: 55px;
}
#article_search_diameter{
    margin-left:47px;
}
#article_search_capacity{
    margin-left: 52px;
}
#article_search_autonomy{
    margin-left: 25px;
}
.box-shop{
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
    margin-top:25px;
}
.filter-by{
    background-color: #ffce2e;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:5px;
}
.custom-control-label::before{
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}
.custom-radio .custom-control-label::before{
    border-radius: 25%;
}
.check-box{
    margin-left:20px;
}
.custom-control{
    padding-top:3px;
}
.filter-cat{
    padding-top:7px;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background:#b2d2ff
}
.filter-bold{
    font-weight: bold;
    color:#4f4f4f;
}
#col-pad{
    padding-right: 0;
    padding-left: 0;
}
.card{
    margin-top: 25px;
    width: 250px;
}
.pagination{
    margin-top: 50px;
}
.mt-lg-0, .my-lg-0 {
    margin-top: 10px !important;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}
.card:hover{
    background-color: #ffce2e;
    -webkit-box-shadow: 0px 0px 14px 12px rgba(220,220,220,1);
    -moz-box-shadow: 0px 0px 14px 12px rgba(220,220,220,1);
    box-shadow: 0px 0px 14px 12px rgba(220,220,220,1);
}
.avatar{
    height: 100px;
    width: 100px;
}
.list-group-item{
    background-color:ghostwhite;
}
.list-group-flush {
    border-bottom: 3px solid pink;
    color:#4f4f4f;
}
.btn-nav{
    background-color: #ffce2e;
}
.btn-nav:hover{
    background-color:white;
    color: #ffce2e;
    border: 1px solid #ffce2e;
}
.navbar{
    background: linear-gradient(135deg, #b2d2ff, #f4fefe);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(169,169,169,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(169,169,169,1);
    box-shadow: 0px 1px 3px 0px rgba(169,169,169,1);
}
.btn:not(:disabled):not(.disabled){
    color:#4f4f4f;
}
.btn-outline-success{
    background-color: white;

}
*, ::after, ::before {
    box-sizing:content-box;
}
.user{
    color: darkgreen;
    cursor: pointer;
}
.user:hover{
    color:green;

}
.user-m{
    margin-top:15px;
}
.profil-user{
    padding-left: 15px;
}
.modal-profil{
    width: 80%;
}
.btn-modify{
    color:white;
    text-decoration: none;
}
.btn-modify:hover{
    text-decoration: none;
    color:white;
}
.row2{
    margin-left: -0px;
    margin-right: -0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.fa-map-marker{
    color:crimson;
}
.fa-star{
    color:#26619c;
}
.fa-euro-sign{
    color: #ffce2e;
}
/*************************** PAGE CONNEXION & INSCRIPTION ****************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#connexion {

    background-size: cover;
    font-family: 'Century Gothic',sans-serif;
}
.login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255,255,255, 0.8);
    border-radius: 50%;
}
.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.form .input-group {
    position: relative;
}
.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
}
.form .input-group input:focus{
    border-bottom: 1px solid #ffce2e;
}
.form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
    transform: translateY(-18px);
    font-size: .8rem;
    color: #ffce2e;
}
.submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #ffce2e;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover{
    background:white;
    color: #ffce2e;
}
.close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}
/********************* PROFIL *****************/
#profil{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 100%;
}
.box{
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
    border-radius: 10px;
}
#white{
    color:white;
}
.box h1{
    font-size: 30px;
    font-weight: 100;
}
.box p{
    text-align: justify;
    padding-top:15px;
}
.margintop{
    margin-top:25px;
}
.link-profil{
    color: cornflowerblue;
}
.fa-star{
    color: cornflowerblue;
}
.desc-art{
    font-style: italic;
    border-bottom: solid whitesmoke 1px;
    margin-top: -10px;
}
p{
    margin-bottom:0rem;
}
.box-link{
    color:white;
    text-decoration: underline;
}
/*********************** PAGE ARTICLE ******************/
.box-desc{
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    font-family: 'Century Gothic',sans-serif;
    background-color:white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.link-choice{
    padding-top: 10px;
    display: block;
    margin-left: -30px;
}
.card-img-top{
    width: 100%;
}
.butad{
    margin-left:800px;
}
.card-article {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top:25px;
}

.img-article{
    width:435px;
    height: 435px;
    margin-left:8%;
}
.name-model{
    font-size: 25px;
    font-weight: bold;
}
.price{
    font-size: 20px;
    color: #ff652f;
}
.box-desc p{
    padding-top:5px;
}
.prod-desc{
    font-weight: bold;
}
.fa-shopping-cart{
    color:#26619c;
    margin-left:-5px;
}
.fa-map-marker-alt{
    color:crimson;
}
.rating{
    color:#26619c;
    margin-left:-3px;
}
.fa-building{
    margin-left:-2px;
    color: #26619c;
}
.box-comments{
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: auto;
    font-family: 'Century Gothic',sans-serif;
    background-color:white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.link-comments{
    font-weight: bold;
    margin-left:20px;
}
.comments{
    color:#7d7d7d;
    margin-left: 38px;
    font-style: italic;
}
.label-com{
    margin-top:3%;
    font-size:20px;
}
hr{
    margin: 20px;
    border: none;
    border-bottom: thin solid rgba(255,255,255,.1);
}

div.stars{
    display: inline-block;
}

input.star{
    display: none;
}

label.star {
    float: right;
    font-size: 36px;
    color: lightgray;
    transition: all .1s;
}

input.star:checked ~ label.star:before {
    content:'\f005';
    color: #ffce2e;
    transition: all .25s;
}


input.star-5:checked ~ label.star:before {
    color:#ffce2e;
}

input.star-1:checked ~ label.star:before {
    color: #F62;
}

label.star:hover{
    transform: scale(1.3);
}

label.star:before{
    content:'\f006';
    font-family: FontAwesome;
}


input.star:checked ~ .rev-box{
    height: 125px;
    overflow: visible;
}
/*********************** FOOTER *********************/
footer{
    margin-top:25px;
    background: linear-gradient(135deg, #b2d2ff, #f4fefe);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(128,128,128,1);
    -moz-box-shadow: 0px -2px 5px 0px rgba(128,128,128,1);
    box-shadow: 0px 1px 5px 0px rgba(128,128,128,1);
}
/*********************** PAGINATION *****************/
.page-link{
    border-radius:50%;
    color: gray;
}
.page-link:hover{
    background-color:#ffce2e;
    color:black;
}
.page-item:first-child .page-link, .page-item:last-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 50%;

}
/***************** ADD ARTICLE ******************/
.input-group{

}
.custom-file-label::after{
    padding: 0;
    padding-right:10px;
    padding-left:10px;
}
.btn-bot{
    margin-bottom: 50px;
}
.mb-3, .my-3 {

    margin-bottom: 1.5rem !important;
    margin-top: 10px;

}