{% extends 'base.html.twig' %}

{% block body %}
    <div id="footer">

            <div class="container">
                <p>© 2020. All Rights Reserved</p>
                <p>By REGAIA Anthony</p>
            </div>

    </div>

{% endblock %}
